<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- VO 객체 별칭 지정 -->
<typeAliases>


		<typeAlias type="com.zzTourr.domain.AdminVO" alias='admin'/>

		<typeAlias type="com.zzTourr.domain.LodgeVO" alias="lodge"/>		
		<typeAlias type="com.zzTourr.domain.UsersVO" alias='users'/>
	
		<typeAlias type="com.zzTourr.domain.RoomVO" alias='room'/>
		<typeAlias type="com.zzTourr.domain.ProductRevboVO" alias='productrevbo'/>
		<typeAlias type="com.zzTourr.domain.ComBoardVO" alias='comboard'/>
		<typeAlias type="com.zzTourr.domain.ReservationVO" alias='reservation'/>
		<typeAlias type="com.zzTourr.domain.PaymentVO" alias='payment'/>
		<typeAlias type="com.zzTourr.domain.MgrVO" alias='mgr'/>
		<typeAlias type="com.zzTourr.domain.ChartVO" alias='chart'/>
		
</typeAliases>
	

</configuration>

