<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "manager">

	<!-- ================================================ 
			로그인 관련
	 ================================================ -->
	 
	<!-- 관리자 회원가입 _201222 원우 -->
	<insert id="insertId" parameterType='admin'>
		INSERT INTO admin(ADMINID, ADMINPW, ADMINMAIL, ADMINNAME, ADMINIMG)
		VALUES (#{adminId}, #{adminPw}, #{adminMail}, #{adminName}, #{adminImg})
	</insert> 
	
	
	<!-- 관리자 로그인 _201223 원우 -->
	<select id="loginId" parameterType="admin" resultType="admin">
		SELECT * FROM admin
		WHERE adminid = #{adminId} AND adminpw = #{adminPw}
	</select>
	
	
	<!-- 중복확인 -->
	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT count(*) FROM admin
		WHERE adminid = #{id}
	</select>
	
	<!-- 로그인 관련 end -->
	


	<!-- ================================================ 
			예약목록
	 ================================================ -->	
	
	<!-- 전체예약목록 가져오기 _201228 원우 -->
	<select id="totalReservList" parameterType="Map" resultType="reservation">
		SELECT *
		FROM(SELECT ROWNUM as NUM, CATEGORY, RESDATE2, RESID, PRODUCTID, RESERVNAME, CHECKINDATE, CHECKOUT, CHECKINDATE2, CHECKOUT2, RESERVPRICE, RESSTATE
			FROM reservation)
        WHERE NUM between #{startPage} and #{endPage}
	</select>
	

	<!-- 전체 예약 목록 행 개수 세기 (페이징 처리) -->
	<select id="selectTotalListCount" parameterType="Map" resultType="Integer">
		SELECT count(*)
		FROM(SELECT ROWNUM as NUM, CATEGORY, RESDATE2, RESID, PRODUCTID, RESERVNAME, CHECKINDATE, CHECKOUT, CHECKINDATE2, CHECKOUT2, RESERVPRICE, RESSTATE
			FROM reservation)
	</select>	
	

	<!-- 객실예약목록 가져오기 _201228 원우 -->
	<select id="roomReservList" parameterType="Map" resultType="reservation">
		SELECT *
		FROM(SELECT ROWNUM as NUM, CATEGORY, RESDATE2, RESID, PRODUCTID, RESERVNAME, CHECKINDATE2, CHECKOUT2, RESERVPRICE, RESSTATE
			FROM reservation
			WHERE CATEGORY = '호텔' )
	</select>
	
	
	<!-- 펜션예약목록 가져오기 _201228 원우 -->
	<select id="guideReservList" parameterType="Map" resultType="reservation">
		SELECT *
		FROM(SELECT ROWNUM as NUM, CATEGORY, RESDATE2, RESID, PRODUCTID, RESERVNAME, CHECKINDATE, CHECKOUT, RESERVPRICE, RESSTATE
			FROM reservation
			WHERE CATEGORY = '펜션' )
	</select>
	
	<!-- 게스트하우스예약목록 가져오기 _201228 원우 -->
	<select id="geReservList" parameterType="Map" resultType="reservation">
		SELECT *
		FROM(SELECT ROWNUM as NUM, CATEGORY, RESDATE2, RESID, PRODUCTID, RESERVNAME, CHECKINDATE2, CHECKOUT2, RESERVPRICE, RESSTATE
			FROM reservation
			WHERE CATEGORY = '게스트하우스' )
	</select>
	
	
	<!-- 모텔예약목록 가져오기 _201228 원우 -->
	<select id="moReservList" parameterType="Map" resultType="reservation">
		SELECT *
		FROM(SELECT ROWNUM as NUM, CATEGORY, RESDATE2, RESID, PRODUCTID, RESERVNAME, CHECKINDATE, CHECKOUT, RESERVPRICE, RESSTATE
			FROM reservation
			WHERE CATEGORY = '모텔' )
	</select>
	
	
	
	<!-- 예약상세내역 가져오기 _201231 -->
	<select id=""></select>
	


	<!-- ================================================ 
			회원
	 ================================================ -->
	
	<!-- 회원목록 가져오기 _201228 원우 -->
	<select id="memberList" resultType="users">
		SELECT * FROM users
	</select>
	
	
	<!-- 숙소사장+가이드 목록 가져오기 _201229 원우 -->
	<!-- https://homesi.tistory.com/entry/ResultMap-을-이용한-mybatis -->
	<resultMap type="mgr" id="mgr">
		<result column="OWERNAME" property="mgrName"/>
		<result column="OWNERID" property="mgrId"/>
		<result column="LODTEL" property="mgrTel"/>
	</resultMap>
	<resultMap type="lodge" id="lodge">
		<result column="LODTEL" property="lodTel"/>
		<result column="LODNAME" property="lodName"/>
	</resultMap>
	
	<select id="lodgeclientList" parameterType="mgr" resultMap="mgr">
		SELECT o.OWNERNAME, o.LODTEL, 
				LISTAGG(l.LODNAME, ', ') WITHIN GROUP(ORDER BY l.LODNAME) AS LODNAME
		FROM LODOWNER o INNER JOIN LODGE l
		GROUP BY o.OWNERNAME, o.LODTEL
	</select>




	<!-- ================================================ 
			차트!!!!!!!!!!!!!
	 ================================================ -->

	<!-- 예약 완료 건 (가이드/상품 별) 카운터 -->
	<select id="chart1" resultType="Map">
		SELECT code2, COUNT(RESERVPRICE) AS count
		FROM
		   (SELECT SUBSTR(PRODUCTID, 1,1) AS code2, RESERVPRICE
		   FROM reservation
		   WHERE  resstate = '예약완료') tb
		GROUP BY code2
	</select>


	<!-- 날짜,구분, 금액 합계 가지고오기   -->
	<select id="chart2" parameterType="String" resultType="Map">
		SELECT code2, reservday, SUM(RESERVPRICE) AS sum
		FROM
		 	(SELECT SUBSTR(PRODUCTID, 1,1) AS code2, RESERVPRICE, TO_CHAR(RESDATE2,'mmdd') as reservday
			FROM reservation
		 	WHERE RESSTATE='예약완료' ) tb
		GROUP BY code2,reservday
	</select>


<!-- 	<select id="chart3" resultType="int"> -->
<!-- 	 select sum(reservprice) from reservation -->
<!-- 	</select> -->
	
		<select id="chart3" resultType="int">
 select sum(reservprice) from reservation
	</select>
	
		<select id="chart4" resultType="int">
	 select sum(reservprice) from reservation where category ='숙소'
	</select>









</mapper>