<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "Hotel">
	<!-- 회원가입 -->
	<insert id="insertId" parameterType='mgr'>
		
	</insert> 
	
	<!-- 로그인 -->
	<select id="loginId" parameterType="mgr" resultType="mgr">
	<![CDATA[
		
	]]>
	</select>

</mapper>